@import url("https://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

ul {
    list-style: none;

}

ul>li {
    font-family: 'Noto Sans KR', sans-serif;
}

.big {
    font-size: 100px;
    font-family: 'Montserrat', sans-serif;
}